{% extends 'base.html' %}

{% block title %}Accueil{% endblock %}

{% block content %}
{% if snakes %}
<h2 class="mt-5">Derniers serpents ajoutés</span></h2>
    <div class="row">
        {% for snake in snakes %}
            <div class="col-sm-3">
                <div class="card mt-1">
                    <img src="{{ snake.image.url }}"  height="200" width="300" class="card-img-top" alt="TerrarioPedia - Fiche de maintiens de {{ snake.get_scientific_name }}">
                  <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'snake_details' snake.slug %}" title="TerrarioPedia - Fiche de maintiens de {{ snake.get_scientific_name }}">{{ snake.get_scientific_name }}</a></h5>
                  </div>
                </div>
              </div>
        {% endfor %}
    </div>
{% endif %}
{% if amphibians %}
<h2 class="mt-5">Derniers amphibiens ajoutés</span></h2>
    <div class="row">
        {% for amphibian in amphibians %}
            <div class="col-sm-3">
                <div class="card mt-1">
                    <img src="{{ amphibian.image.url }}"  height="200" width="300" class="card-img-top" alt="TerrarioPedia - Fiche de maintiens de {{ amphibian.get_scientific_name }}">
                  <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'amphibian_details' amphibian.slug %}" title="TerrarioPedia - Fiche de maintiens de {{ amphibian.get_scientific_name }}">{{ amphibian.get_scientific_name }}</a></h5>
                  </div>
                </div>
              </div>
        {% endfor %}
    </div>
{% endif %}
{% endblock %}