{% extends 'base.html' %}
{% load static %}
{% block title %}Informations prioritaires{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h1>À propos</h1>
        <p>TerrarioPedia est une plateforme d'information concernant le maintien d'animaux sauvage en captivité.</p>
        <p>Les données présentes sont une moyenne qui peut légèrement variée selon les conditions locales:
            <ul>
                <li>Concernant la température, il est communément admis
                qu'une température au-dessus de 30°C est dangereux pour la majorité des espèces présentes sur le site. Une température
                inférieur à 20°C entraînera une diminution du rythme biologique des espèces pouvant les mener à moins bien digérer leurs proies et les faire
                    entrer en somnolance voir hibernation pour les températures en dessous de 13°C. Une variation de 2-3°C par rapport à nos chiffres est normal.
                </li>
                <li>
                    Concernant l'hygrométrie, les informations présentes sur TerrarioPedia représente une moyenne également qui peut fluctuer selon la configuration
                externe et interne au terrarium. Il est communément admis qu'une hygrométrie stagnante peut s'avérer dangereux pour certaines espèces (notemment en cas de courants d'air)
                    et préférable à d'autres. Une variation de 10-20% par rapport à nos chiffres est normal.
                </li>
                <li>Les tailles données sont fournies à la maximale. Certaines localités et les conditions de maintiens peuvent faire varier, généralement à la baisse, la longueur.</li>
                <li>Les dimensions des terrariums sont fournies à la minimale de l'oPAN pour un individu. Ce chiffre ne change pas pour un couple mais augmente de 15% par bête complémentaire.</li>
                <li>Le caractère et la dangerosité sont définis sur "le plus mauvais" durant la période d'activité idéale ou la dangerosité du venin relative à l'espèce envers le soigneur et non envers ses congénaires.</li>
            </ul>
        </p>
        <p>Nous ne pouvons en aucun cas être tenu responsable de la mauvaise compréhension des informations interprétés par les utilisateurs du site. C'est le rôle de chacun d'adapter les informations présente sur TerrarioPedia à son environement.</p>

    </div>
</div>
{% endblock %}