{% extends 'base.html' %}
{% load static %}
{% block title %}{{ card.get_scientific_name }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-4">
        <figure class="figure">
            <img src="{{ card.image.url }}" class="figure-img img-fluid rounded mt-2" alt="TerrarioPedia - Fiche de maintiens de {{ card.get_scientific_name }}">
        </figure>
        <p>
            {{ card.comments }}
        </p>
    </div>
    <div class="col-sm-8">
        <div class="row"><h1>{{ card.get_scientific_name }}</h1>
        <p class="fs-6 fw-lighter">Espèce{% if not card.is_cites %} non{% endif %} CITES - {{ card.get_bern_convention_display }} de la convention de Berne</p></div>
        <div class="row">
            <div class="table-responsive-sm-12">
                <table class="table table-responsive-sm-12 caption-top">
                    <caption>Informations générales</caption>
                    <thead></thead>
                    <tbody>

                        {% if card.adult_male_size == card.adult_female_size %}
                            <tr>
                                <th scope="row">Taille adulte</th>
                                <td>{{ card.adult_male_size }} cm</td>
                            </tr>
                        {% else %}
                        <tr>
                            <th scope="row">Taille mâle</th>
                            <td>{{ card.adult_male_size }} cm</td>
                        </tr>
                        <tr>
                            <th scope="row">Taille femelle</th>
                            <td>{{ card.adult_female_size }} cm</td>
                        </tr>
                        {% endif %}
                        <tr>
                            <th scope="row">Reproduction</th>
                            <td>{{ card.get_reproduction_type_display }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Taille juvénile</th>
                            <td>{{ card.born_size }} cm</td>
                        </tr>
                        <tr>
                            <th scope="row">Moeurs principale</th>
                            <td>{{ card.get_main_mores_display }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Période d'activité</th>
                            <td>{{ card.get_main_activity_period_display }}</td>
                        </tr>
                    <tr>
                        <th scope="row">Prédation</th>
                        <td>{% for prey in card.preys.all %}
                                {{ prey }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Comportement dominant</th>
                        <td>{{ card.get_character_display }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Dangerosité</th>
                        <td>{{ card.get_dangerosity_display }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Toxicologie</th>
                        <td>
                            {% for venom in card.venom.all %}
                                {{ venom }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="table-responsive-sm-12">
                <table class="table table-responsive-sm-12 caption-top">
                    <caption>Environnements</caption>
                    <thead></thead>
                    <tbody>
                        <tr>
                            <th scope="row">Distribution</th>
                            <td>{{ card.distribution }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Biotopes</th>
                            <td>{% for environment in card.environments.all %}
                                    {{ environment }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="table-responsive-sm-12">
                <table class="table table-responsive-sm-12 caption-top">
                    <caption>En captivité</caption>
                    <thead></thead>
                    <tbody>
                        <tr>
                            <th scope="row">Difficulté de détention</th>
                            <td>{{ card.get_detention_difficulty_display }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Taille du terrarium</th>
                            <td>{{ card.minimal_vivarium_size }} cm</td>
                        </tr>
                        <tr>
                            <th scope="row">Température d'activitée</th>
                            <td>{{ card.temperature_low }} °C / {{ card.temperature_high }} °C</td>
                        </tr>
                        <tr>
                            <th scope="row">Humidité</th>
                            <td>{{ card.humidity }}%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}