{% extends "base.html" %}
{% block content %}
<h1>Modifier votre mot de passe</h1>
{% if form.errors %}
    <div class="alert alert-danger alert-dismissible" role="alert">
        <div id="form_errors">
            {% for key, value in form.errors.items %}
                <strong>{{ value }}</strong>
            {% endfor %}
        </div>
    </div>
{% endif %}
<form method="POST">
    {% csrf_token %}
    <div class="form-row">
        <div class="col-md-10 offset-md-1">
            <div class="form-group">
                <label class="small mb-1" for="id_old_password">Ancien mot de passe</label>
                <input type="password" name="old_password" autocomplete="new-password"
                       class="form-control" required id="id_old_password" placeholder="Ancien mot de passe"/>
                <span></span>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-10 offset-md-1">
            <div class="form-group">
                <label class="small mb-1" for="id_new_password1">Nouveau mot de passe</label>
                <input type="password" name="new_password1" autocomplete="new-password"
                       class="form-control" required id="id_new_password1"
                       placeholder="Nouveau mot de passe"/>
                <span>

                </span>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-10 offset-md-1">
            <div class="form-group">
                <label class="small mb-1" for="id_new_password2">Confirmez votre nouveau mot de passe</label>
                <input type="password" name="new_password2" autocomplete="new-password"
                       required id="id_new_password2" class="form-control"
                       placeholder="Confirmez le nouveau mot de passe"/>
            </div>
        </div>
    </div>
    <div class="form-row mt-3">
        <div class="col-md-10 offset-md-1">
            <div class="form-group mt-0 mb-1">
                <button type="submit" class="col-md-12 btn btn-primary" id="reset">Sauvegarder</button>
            </div>
        </div>
    </div>
</form>
{% endblock content %}