{% extends "base.html" %}
{% block title %}Profile{% endblock title %}

{% block content %}
<h1>Mon compte</h1>
<a href="{% url 'password_change' %}" title="Terrariopedia - Modifier le mot de passe">Modifier le mot de passe</a>
{% if form.errors %}
    <div class="alert alert-danger alert-dismissible" role="alert">
        <div id="form_errors">
            {% for key, value in form.errors.items %}
                <strong>{{ value }}</strong>
            {% endfor %}
        </div>
    </div>
{% endif %}
    <div class="form-content">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row">
                <div class="col-md-5">
                    <div class="form-group">
                         <label class="small mb-1">Nom:</label>
                            {{ user_form.last_name }}
                         <label class="small mb-1">Prénom:</label>
                            {{ user_form.first_name }}
                        <label class="small mb-1">Nom d'utilisateur:</label>
                            {{ user_form.username }}
                        <label class="small mb-1">Email:</label>
                            {{ user_form.email }}
                        <label class="small mb-1">Pays:</label>
                        {{ profile_form.country }}
                        {{ profile_form.user }}

                    </div>
                </div>
            </div>
            <br><br>
            <button type="submit" class="btn btn-primary btn-lg">Sauvegarder</button>
        </form>
    </div>
{% endblock content %}