{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <title>TerrarioPedia - {% block title %}{% endblock %}</title>
</head>
<body>
    <div class="container-fluid">
        <header class="p-3 mb-3 border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="{% url 'home' %}" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
          TerrarioPedia
        </a>
        {% load card_extra %}{% get_nav_category %}
        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search" action="{% url 'search_cards' %}" method="post">
            {% csrf_token %}
            <!--<select class="form-select" name="g" aria-label="Default select example">
              <option selected>Genre</option>
                {% get_genus_options %}
            </select>-->
          <input name="q" type="search" class="form-control" placeholder="Rechercher une espèce" aria-label="Search">
        </form>

        <!--<div class="dropdown text-end">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small">
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
        </div>-->
      </div>
    </div>
  </header>
    </div>
    <div class="container mt-5">
        {% block content %}{% endblock %}
    </div>

<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>